@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-one: #55efc4;
$color-two: #636e72;
$color-three: #0984e3;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-two;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: $color-light;
    filter: brightness(20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
  justify-items: center;
}

.sidebar-left {
  clip-path: polygon(0 0, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 0 100%);

}

.sidebar-right {
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 10% 100%, 0% 90%, 0% 10%);
}

.posts {
  flex: 2 0 0;
  box-shadow: 5px 5px $color-dark;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: $color-one;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .active {
    color: $color-three;
  }

  li {
    margin-right: 0.4rem;
  }

  li a{
    text-decoration: none;
    color: $color-one;
    font-weight: bold;
  }

  li a:hover {
    color: $color-three;
  }

}

.list-horizontal {
  .active {
    font-weight: bold;
  }

  li {
    display: inline-block;
  }
}

.titles {
  .active{
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  li{
    margin: 0.2rem;
    width: 6rem;
  }

  li a{
    text-transform: capitalize;
  }

}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: none;

  &.active {
    display: block;
  }
}

.post-author {
  font-style: italic;

  a {
    text-decoration: none;
    color: $color-one;
    font-weight: bold;
    text-transform: capitalize;
  }

  a:hover {
    color: $color-three;
  }
}

.post-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}

.list.tags li {
  display: inline-block;
}

.tag-size-1 {
  font-size: 1rem;
}

.tag-size-2 {
  font-size: 1.2rem;
}

.tag-size-3 {
  font-size: 1.3rem;
}

.tag-size-4 {
  font-size: 1.4rem;
}

.tag-size-5 {
  font-size: 1.5rem;
}

@media (max-width: 767px){
  .wrapper {
    flex-direction: column;
  }

  .sidebar-left {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 100%, 0 100%, 0% 20%);
  }

  .sidebar-right {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0% 80%);
  }

  .titles {
    text-align: center;

    .active{
      margin-left: 0;
    }

    li{
      margin: 0.2rem;
      width: 6rem;
    }

  }

}
